interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/ei_cphi_m?format=JSON&geo=EA&indic=TOTAL&lastTimePeriod=1&unit=RT12
  response:
    body:
      # Real ei_cphi_m lastTimePeriod=1 response, trimmed to the fields _parse_jsonstat
      # reads (value + dimension.*.category.index). Verbose human-readable `label`
      # strings (incl. the geo euro-area composition year-list) are dropped — the parser
      # never reads them, and they carried public-metadata numerics that collided with
      # the sanitisation harvest. Structure the parser traverses is preserved verbatim.
      string: '{"version":"2.0","class":"dataset","value":{"0":3.2},"id":["freq","unit","indic","geo","time"],"size":[1,1,1,1,1],"dimension":{"freq":{"category":{"index":{"M":0}}},"unit":{"category":{"index":{"RT12":0}}},"indic":{"category":{"index":{"TOTAL":0}}},"geo":{"category":{"index":{"EA":0}}},"time":{"category":{"index":{"2026-05":0}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
