interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?file_type=json&limit=5&series_id=CPIAUCSL&sort_order=desc&units=lin
  response:
    body:
      string: '{"realtime_start":"2026-04-23","realtime_end":"2026-04-23","observation_start":"1600-01-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"desc","count":1,"offset":0,"limit":5,"observations":[{"realtime_start":"2026-04-11","realtime_end":"9999-12-31","date":"2026-02-28","value":"319.082"},{"realtime_start":"2026-03-12","realtime_end":"2026-04-10","date":"2026-01-31","value":"317.671"},{"realtime_start":"2026-02-12","realtime_end":"2026-03-11","date":"2025-12-31","value":"316.490"},{"realtime_start":"2026-01-10","realtime_end":"2026-02-11","date":"2025-11-30","value":"315.605"},{"realtime_start":"2025-12-11","realtime_end":"2026-01-09","date":"2025-10-31","value":"314.844"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
